/* ================================= 
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
  margin:0;
}

body {
	font-family: 'Varela Round', sans-serif;
  line-height: 1.6;
  background-color: darkslategray;
  color: whitesmoke;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 60vh minmax(500px, 1fr) auto;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-style: thin;
}


/* add image to the header. 
   cover 60% of the screen with image */
header{
  padding-top: 32px;
  text-align: center;
  background-image: url("https://tinyurl.com/vtnsq2b");
  background-position: center;
  background-size: cover;
  color: white;
  height: 60vh;
  /* margin-top: 75px; */
  font-family: "Raleway", sans-serif;
}

header h1{
  padding-top: 70px;
  font-weight: lighter;
}

footer{
  margin-top: auto;
  display: block;
  background-color: lightgray;
  color: black;
}

/* ---- Layout Containers ---- */
.navbar{
  display: flex;
  justify-content: space-between;
  padding: 10px 16px;
  background: linear-gradient(rgb(0, 53, 97), rgba(0, 140, 255, 0) ) ;
  color: black;
  position: fixed;
  top: 0;
  width: 100%;
  /* box-shadow: 0 1px 4px rgba(0,0,0,0.4); */
}

#logo img{
  margin-top: 1vh;
  margin-left: 2vh;
  height: 3em;
}

.navbar ul{
  list-style: none;
  /* margin-left: auto; */
}

.wrapper{
  width: 90%;
  margin: 0 auto;
}

/* ---- dropdown menu ---- */

.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

/* .dropdown:hover .dropbtn {
  background-color: #3e8e41;
} */


/* ---- Page Elements ---- */

/* ================================= 
  Base Layout Styles
==================================== */



/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

  #logo img{
    margin-left: 3vh;
    height: 4em;
  }

  .dropbtn
  {
    display:none;
  }

  .dropdown-content{
    display: inline-block;
    position: initial;
    background-color: rgba(0,0,0,0);
    box-shadow: none;
    
  }

  .dropdown-content ul, .dropdown-content a{
    display:flex;
    color: white;
  }

  .dropdown-content a:hover, a:link {
  background-color: initial;
  }

  body{
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: 60vh minmax(150px, auto) minmax(1px, auto);
  }

  header{
    grid-column: 1 / -1;
  }
  
  main{
    grid-column: 1 / 2;
  }
  
  aside{
    grid-column: 2 / -1;
    
  }

  footer{
    grid-column: 1 / -1;
  }
}


@media (min-width: 1025px) {

  



}