/* ================================= 
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
  margin:0;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-style: thin;
}

/* ---- Layout Containers ---- */
.navbar{
  display: flex;
  justify-content: space-between;
  padding: 10px 16px;
  background: rgb(0, 140, 255);
  color: black;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 1px 4px rgba(0,0,0,0.4);
}

#logo img{
  height: 3em;
}


/* add image to the header. 
   cover 60% of the screen with image */
.header{
    padding-top: 32px;
    text-align: center;
    background-image: url("../img/background.jpg");
    background-position: center;
    background-size: cover;
    color: black;
    height: 60vh;
    margin-top: 75px;
    font-family: "Raleway", sans-serif;
}

.profile{
    width:10em;
    border-radius:50%;
    border: 2px gray solid;
    margin-top: 3em; /* 48px */
}

/* .navbar a:link,
.navbar a:visited{
  display: block;
  color: white;
  font-weight: 200;
  text-decoration: none;
} */
.navbar ul{
  list-style: none;
  /* margin-left: auto; */
}


.container{
    width: 90%;
    margin: 0 auto;
}

/* ---- dropdown menu ---- */

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}


/* ---- Page Elements ---- */

/* ================================= 
  Base Layout Styles
==================================== */



/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
  .dropbtn
  {
    display:none;
  }

  .dropdown-content{
    display: inline-block;
    position: initial;
    background-color: rgba(0,0,0,0);
    box-shadow: none;
    
  }

  .dropdown-content ul, .dropdown-content a{
    display:flex;
    color: white;
  }

  .dropdown-content a:hover, a:link {
  background-color: initial;
  }
}


@media (min-width: 1025px) {

  



}