/* ================================= 
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
  margin:0;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}



/* ---- Layout Containers ---- */


.profile{
    width:10em;
    border-radius:50%;
    border: 2px gray solid;
    margin-top: 3em; /* 48px */
}

.header{
    text-align: center;
    background-image: url("../img/background.jpg");
    background-position: center;
    background-size: cover;
    color: lightgray;
    height: 60vh;
    
}

.header h1,
.header p{
    margin: 0;
}

.header li{
    list-style: none;
    margin: auto;
    border: black 1px solid;
}
.navbar{
    display: flex;
    justify-content: center;
    
}
.container{
    width: 90%;
    margin: auto;
}



/* ---- Page Elements ---- */

/* ================================= 
  Base Layout Styles
==================================== */



/* ================================= 
  Media Queries
==================================== */
